body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    padding-top: 3%;
}
.logo-area{
    width: 20%;
    padding-left: 6%;
}
.logo-area img{
    width: 30%;
}
.menu-area{
    width: 80%;
    padding-right: 6%;
}
.menu-area ul{
	float: right;
	margin: 0;
	overflow: hidden;
}
.menu-area ul li{
	display: inline-block;
}
.menu-area ul li a{
	text-decoration: none;
	color: orange;
	text-transform: uppercase;
	padding: 5px 15px;
	display: block;
	border: 1px solid transparent;
	border-radius: 3px;
	margin-right: 5px; 
}
.menu-area ul li:nth-child(1) a {
	background: rgb(235 235 235 / 46%);
}
.menu-area ul li:last-child a{
	margin-right: 0;
}
.menu-area ul li:hover a{
	background: rgb(235 235 235 / 46%);
}

.top-banner{
    display: flex;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 6%;
    background-color: rgb(235 235 235 / 46%);
}
.half-width{
    width: 50%;
    
}
h1{
    font-family: 'Carter One', cursive;
    font-size: 56px;
    color: #575757;
}
.orange{
    color: #fa9249;
}
.half-width p{
    color: #828282;
    margin-bottom: 65px;
    line-height: 1.6;
}
.btn{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 20px 40px !important;
    background-image: radial-gradient(orange, tomato);
    border-radius: 50px;
    box-shadow: 1px 1px 20px 1px #fa9249;
}
.half-width img{
    width: 80%;
}
.about-section{
    display: flex;
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 6%;
    padding-top: 3%;
}
.about-half{
    margin-top: 6%;
}
.image img{
    margin-bottom: -5px;
}
h2{
    font-size: 36px;
    color: #707070;
}
h3{
    font-size: 28px;
}
.section3{
    padding-top: 6%;
}
.dev p{
    text-align: center;
}
.dev h2{
    text-align: center;
}
.three-column{
    display: flex;
    padding: 4% 6% 8% 6%;
}
.col-3{
    width:30%;
    border: 20px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 1px #b6aca5;
}
.col-3 img{
    width: 100%;
    border-radius: 20px;
}
.blog-1{
    margin-right: 2%;
}
.blog-2{
    margin: 0 3%;
}
.blog-3{
    margin-left: 2%;
}
.contact-form{
    width: 60%;
	margin: 50px auto;
	background: rgb(235 235 235 / 46%);
	padding: 50px;
	border-radius: 6px;
}
.contact-form h2{
    text-align: center;
}
.cf .f1{
    width: 48%;
    overflow: hidden;
    float: left;
    display: block;
}
.cf .f2{
    width: 48%;
    overflow: hidden;
    float: right;
    display: block;
}
.contact-form label{
	display: block;
	font-size: 22px;
	margin: 5px 0;
	color: #272020;
}
.contact-form input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 22px;
}

.contact-form textarea{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 22px;
}
.send-btn{
    width: 25% !important;
    margin: 10px auto;
    display: block;
    font-size: 20px;
}


footer{
    background-color: #fdeaec;
    padding: 10px 0 50px;
    text-align: center;
}

footer p{
    font-size: 14px;
}